* {
    margin: 0;
}


.button-main {
    background-color: #000;
    color: #fff;
}

.button-secondary {
    background-color: rgb(255, 255, 0);
}

.button-main, .button-secondary {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    border-radius: 12px;
    padding: 4px 10px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}